.logo{
    height: 100px;
}
#button-1999{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#button-2000{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#button-2002{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#button-2014{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#button-2016{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#button-show{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.h1{
    font-family: 'Courier New', Courier, monospace;
}
.p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}