.logo{
    height: 100px;
}
#button-1999{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#button-2000{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#button-2002{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#button-2014{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#button-2016{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
#button-show{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.h1{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
}
.p{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
.book-card {
  border: 2px solid #4baaea;
  margin: 10px;
  padding: 10px;
  border-radius: 8px;
}

.card-title {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.card-author {
  color: solid #555;
  font-family: 'Courier New', Courier, monospace;
}

/* Center the buttons */
#buttons-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
}
  
 /* Style the buttons */
 #buttons-container button {
    margin: 0 10px; /* Add some spacing between buttons */
}
  
